@import "bootstrap";

.inline-ajust {
    display: inline-block;
    width: auto;
}

.ajust {
    width: auto;
}

.inline-right {
    float: right;
}

.inline-left {
    float: left;
}

