@import "bootstrap";

.bootstrap-date-ajust {
    display: inline-block;
    width: auto;
}

.ajust {
    width: auto;
}

#interview_start_time {
    display: inline-block;
    width: auto;
}

.inline-right {
    float: right;
}

.inline-left {
    float: left;
}

